<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yifanfwu.proximitylock" >

    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_title"
            android:parentActivityName=".MainActivity" />

        <service
            android:name=".SensorService"
            android:enabled="true" />

        <receiver
            android:name=".SensorAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.ACTION_DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.ACTION_DEVICE_ADMIN_DISABLED" />
            </intent-filter>

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
        </receiver>

        <activity
            android:name=".CalibrationActivity"
            android:label="@string/title_activity_calibration"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yifanfwu.proximitylock.MainActivity" />
        </activity>
    </application>

</manifest> <!-- <manifest xmlns:android="http://schemas.android.com/apk/res/android" > -->
<!-- <application> -->
<!-- <activity android:name="com.yifanfwu.promixitylock.SettingsActivity" -->
<!-- android:label="@string/title_activity_settings" -->
<!-- android:parentActivityName="com.yifanfwu.promixitylock.MainActivity"> -->
<!-- <meta-data android:name="android.support.PARENT_ACTIVITY" -->
<!-- android:value="com.yifanfwu.promixitylock.MainActivity" /> -->
<!-- </activity> -->
<!-- </application> -->
<!-- </manifest> -->
